.gallery{
 display:flex;
 flex-wrap:wrap;
 gap:20px;
 justify-content:center;
 padding:20px;
}

.gallery img{
 width:200px;
 border-radius:10px;
 transition:all 0.3s;
 box-shadow:0 4px 15px rgba(0,0,0,0.5);
}

.gallery img:hover{
 transform:scale(1.08);
 box-shadow:0 6px 20px rgba(244,63,94,0.4);
}

/* responsive */
@media (max-width:600px){
  .gallery img{
    width:150px;
  }
}